<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-wechatpay" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>wechatpay</name>
    <js-module name="wechatpay" src="www/wechatpay.js">
        <clobbers target="wechatpay"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="wechatpay">
                <param name="android-package" value="org.apache.cordova.wechatpay.WechatPay"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"/>
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
        </config-file>
        <source-file src="src/android/WechatPay.java" target-dir="src/org/apache/cordova/wechatpay"/>
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="wechatpay">
                <param name="ios-package" value="wechatpay"/>
            </feature>
        </config-file>
        <header-file src="src/ios/WechatAuthSDK.h"/>
        <header-file src="src/ios/WXApi.h"/>
        <header-file src="src/ios/WXApiObject.h"/>
        <source-file src="src/ios/wechatpay.m"/>
        <source-file src="src/ios/libWeChatSDK.a" framework="true"/>

        <framework src="SystemConfiguration.framework"/>
        <framework src="libz.dylib"/>
        <framework src="libsqlite3.0.dylib"/>
        <framework src="libc++.dylib"/>
        <framework src="Security.framework"/>
        <framework src="CoreTelephony.framework"/>
        <framework src="CFNetwork.framework"/>
    </platform>
</plugin>